[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-socketio = {extras = ["client"],version = "*"}

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-restplus = "*"
flask-pymongo = "*"
validators = "*"
requests = "*"
pillow = "*"
flask-socketio = "*"

[requires]
python_version = "3.7"
